<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= camp.image %>">
                <div class="card-body">
                    <h5 class="float-right">$<%= camp.price %>/night</h5>
                    <h4 class="card-title"><a href=""><%= camp.name %></a></h4>
                    <p class="card-text mb-0"><%= camp.description %></p>
                    <p class="my-0"><footer class="blockquote-footer"><em>Submitted By <%= camp.author.username %>, <%= moment(camp.createdAt).fromNow() %></em></footer></p>
                    <% if(currUser && camp.author.id.equals(currUser._id)) { %>
                        <form class="float-right mx-1"action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger ">Delete</button>
                        </form>
                        <a class="btn btn-warning float-right mx-1" href="/campgrounds/<%= camp._id %>/edit">Edit</a>
                    <% } %>
                </div>       
            </div>
            <div class="card bg-light my-3">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= camp._id %>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <% camp.comments.forEach(comment => { %>
                    <div class="row">
                        <div class="col-md-12 my-2">
                            <strong><%- comment.author.username %></strong>
                            <footer class="blockquote-footer float-right"><%= moment(comment.createdAt).fromNow() %></footer>
                            <p class="card-text my-0">
                                <%- comment.text %>
                            </p>
                            <% if(currUser && comment.author.id.equals(currUser._id)) { %>
                                <a class="btn btn-sm btn-warning float-right mx-1" href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form class="float-right mx-1" action="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger ">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <h1><%= camp.name %></h1>

    <img src= "<%= camp.image %>">

    <p><%= camp.description %></p>
    <p>
        <a class="btn btn-success" href="/campgrounds/<%= camp._id %>/comments/new">Add New Comment</a>
    </p>
    <% camp.comments.forEach(comment => { %>
        <p>
            <strong><%- comment.author %></strong> - <%- comment.text %>
        </p>
    <% }) %> -->
</div>
<% include ../partials/footer %>